<!DOCTYPE html>
<html>
<head>
    <title>{{ product.product_name }} - Product Details</title>
</head>
<body>
    <h1>{{ product.product_name }} - Product Details</h1>

    <p>Category: {{ product.product_category }}</p>
    <p>Price: {{ product.product_price }}</p>
    <p>Description: {{ product.product_description }}</p>
    <!-- Add more product details as needed -->

    <img src="{{ product.product_image.url }}" alt="{{ product.product_name }} Image" width="200">
    <!-- Display the product image (assuming 'product_image' is an ImageField in your model) -->

    <a href="{% url 'm_shop:product_list' %}">Back to Product List</a>
    <a href="{% url 'm_shop:update_product' product.id %}">Edit Product</a>
    <form method="post" action="{% url 'm_shop:delete_product' product.id %}">
        {% csrf_token %}
        <button type="submit">Delete Product</button>
    </form>
</body>
</html>
