{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} Product List {% endblock title %}</title>
</head>

{% block content %}
<body>

        <h1 class="bg-pink-500 text-2xl">Product List</h1>

        <ul>
            {% for product in products %}
            <li>
                <a href="{% url 'm_shop:product_detail' product.id %}">{{ product.product_name }}</a>
                <p>Category: {{ product.product_category }}</p>
                <p>Price: {{ product.product_price }}</p>
                <!-- Add more product details as needed -->
            </li>
            {% empty %}
            <li>No products available.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'm_shop:add_product' %}">Add a New Product</a>

</body>
{% endblock content %}

</html>