{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

        {% block title %}
        About Us
        {% endblock title %}

    </title>
</head>

<body>


    {% block content %}

    <div class="p-10 bg-slate-300">
        <h2 class="text-2xl">Welcome to the Huo Innovation Ltd! We are a team of Bangladeshi Young Generation! Who are aiming to make a
            technological revolution in our beloved motherland!</h2>
    </div>

    {% endblock content %}


</body>

</html>